{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}



    {% if not advert.categories.empty %}
        Categories :
        {% for category in advert.categories %}
            <span class="badge badge-pill light-blue">     {{ category.name }} </span>
        {% endfor %}

    {% endif %}



        <div class="card p-5 mt-4">
            <div class="row">
        <div class="col-md-7">




            <h2>{{ advert.title }}</h2>
            <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

            <div class="well mt-3">
                {{ advert.content }}
            </div>



            {% if listAdvertSkills|length > 0 %}
                <div>
                    Cette annonce requiert les compétences suivantes :
                    <ul>
                        {% for advertSkill in listAdvertSkills %}
                            <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <hr>

            <p class="text-muted">Contact : {{ advert.mail }}</p>


            <p class="mt-3">
                <a href="{{ path('oc_platform_home') }}" class="btn btn-primary">
                    <i class="fa fa-chevron-left mr-2"></i>
                    Retour à la liste
                </a>
                <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-primary">
                    <i class="fa fa-edit mr-2"></i>
                    Modifier l'annonce
                </a><br>

                <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
                    <i class="fa fa-trash mr-2"></i>
                    Supprimer
                </a>
            </p>









        </div>
        <div class="col-md-3 offset-1">


            {% if advert.image is not null %}
                <div class="card card-cascade wider mb-r">

                    <div class="view">
                        <img
                                src="{{ asset(advert.image.webPath) }}"
                                alt="{{ advert.image.alt }}"
                                class="img-fluid"
                        />

                    </div>
           </div>
            {% endif %}

        </div>
    </div>
    </div>






{% endblock %}
